<div class="row">
    <form action="#" class="pull-right form-inline">
        <div class="form-group">
            <label class="sr-only" for="userName">Name:</label>
            <input [(ngModel)]="username" class="form-control" name="userName" placeholder="Username"/>
            <label class="sr-only" for="password">Password:</label>
            <input [(ngModel)]="password" class="form-control" type="password" name="password" placeholder="Password"/>
            <button (click)="login(); false;" class="btn btn-default">Log-in</button>
        </div>
    </form>
</div>